# Local .terraform dir
.terraform/
/Modules/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log   

# Exclude Terraform plan files
*.tfplan

# Ignore Terraform variables files
*.tfvars    
*.tfvars.*

# Sensitive files
*.pem
*.key   
